/* DEBUG */

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-green: #009688;
    --color-lightgreen: #d5f9ba;
    --color-lightgreen-contrast: #c1ddad;
    --color-gray-1: #dcdbd2;
    --color-gray-2: #eaeaea;
    --color-gray-3: #f3eeea;
    --color-gray-4: #fafafa;
    --color-gray-text: #b1b1b1;
    --color-darkgray: #858484;
    --color-azure: #8edafc;
    --color-bodyBg: #dadbd3;
    --color-red: #ee7c7c;

}
*:not(i), 
html:not(i){
    font-family: 'Roboto', sans-serif;
    font-size: .95rem;
}

body{
    background-color: var(--color-bodyBg);
}

/* Colors */

.text-green{color: var(--color-green);}
.text-lightgreen{color: var(--color-lightgreen);}
.text-gray-1{color: var(--color-gray-1);}
.text-gray-2{color: var(--color-gray-2);}
.text-gray-3{color: var(--color-gray-3);}
.text-gray-text{color: var(--color-gray-text);}
.text-darkgray{color: var(--color-darkgray);}
.text-azure{color: var(--color-azure);}

.bg-white{background-color: white;}

/* Typo */
.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    text-decoration: underline;
}

.text-center{text-align: center;}

.text-italic{font-style: italic;}

/* Borders */

.br-gray{border-right: 1px solid var(--color-gray-text);}

/* Spacing */

.p-1{padding: .3rem;}
.p-2{padding: .5rem;}
.p-3{padding: .8rem;}
.p-4{padding: 1rem;}
.p-5{padding: 1.5rem;}

.ps-0{padding-left: 0;}
.ps-1{padding-left: .3rem;}
.ps-2{padding-left: .5rem;}
.ps-3{padding-left: .8rem;}
.ps-4{padding-left: 1rem;}
.ps-5{padding-left: 1.5rem;}

.pe-1{padding-right: .3rem;}
.pe-2{padding-right: .5rem;}
.pe-3{padding-right: .8rem;}
.pe-4{padding-right: 1rem;}
.pe-5{padding-right: 1.5rem;}

.px-1{padding: 0 .3rem;}
.px-2{padding: 0  .5rem;}
.px-3{padding: 0  .8rem;}
.px-4{padding: 0  1rem;}
.px-5{padding: 0  1.5rem;}

.py-1{padding: .3rem 0;}
.py-2{padding: .5rem 0;}
.py-3{padding: .8rem 0;}
.py-4{padding: 1rem 0;}
.py-5{padding: 1.5rem 0;}


.m-1{margin: .3rem;}
.m-2{margin: .5rem;}
.m-3{margin: .8rem;}
.m-4{margin: 1rem;}
.m-5{margin: 1.5rem;}

.ms-1{margin-left: .3rem;}
.ms-2{margin-left: .5rem;}
.ms-3{margin-left: .8rem;}
.ms-4{margin-left: 1rem;}
.ms-5{margin-left: 1.5rem;}

.mt-1{margin-top: .3rem;}
.mt-2{margin-top: .5rem;}
.mt-3{margin-top: .8rem;}
.mt-4{margin-top: 1rem;}
.mt-5{margin-top: 1.5rem;}

.me-1{margin-right: .3rem;}
.me-2{margin-right: .5rem;}
.me-3{margin-right: .8rem;}
.me-4{margin-right: 1rem;}
.me-5{margin-right: 1.5rem;}

.mx-1{margin: 0 .3rem;}
.mx-2{margin: 0  .5rem;}
.mx-3{margin: 0  .8rem;}
.mx-4{margin: 0  1rem;}
.mx-5{margin: 0  1.5rem;}


.my-1{margin: .3rem 0;}
.my-2{margin: .5rem 0;}
.my-3{margin: .8rem 0;}
.my-4{margin: 1rem 0;}
.my-5{margin: 1.5rem 0;}
.my-auto{margin: auto 0px;}

/* Layout */


.row{display: flex;}


.col-12{width: 100%;}
.col-11{width: calc((100% / 12) * 11);}
.col-10{width: calc((100% / 12) * 10);}
.col-9{width: calc((100% / 12) * 9);}
.col-8{width: calc((100% / 12) * 8);}
.col-7{width: calc((100% / 12) * 7);}
.col-6{width: 50%;}
.col-5{width: calc((100% / 12) * 5);}
.col-4{width: calc((100% / 12) * 4);}
.col-3{width: calc((100% / 12) * 3);}
.col-2{width: calc((100% / 12) * 2);}
.col-1{width: calc(100% / 12);}
.col{width: auto;}

/* Display */
.d-block{display: block;}
.d-flex{display: flex;}
.d-inline{display: inline;}
.d-inblock{display: inline-block;}

.relative{position: relative;}


/* Flex */
.align-center{align-items: center;}
.justify-between{justify-content: space-between;}

/* Align */

.v-center{vertical-align: middle;}

/* Text */

.text-right{text-align: right;}
.text-left{text-align: left;}

/* Sizes */
.h-100{height: 100%;}
.w-100{width: 100%;}

/* Controls */

.btn{
    border-radius: 50%;
    border: none;
    height: 35px;
    width: 35px;
    color: var(--color-gray-text);
    background-color: transparent;
    transition: all .2s ease;
}

.btn.btn-dark{
    color: black;
}

.btn.btn-dark:hover{
    color: var(--color-gray-text);
}

.btn.btn-red:hover{
    color: var(--color-red);
}


.btn i{
    font-size: 1.7rem;
}

.btn:hover{
    cursor: pointer;
    background-color: var(--color-gray-4);
}

/* Form */
input[type="text"].form-input-text{
    border-radius: 5px;
    border: transparent;
    width: 100%;
    padding: 7px 10px;
}

input[type="text"].form-input-text:focus{
    outline: none;
}


input[type="text"].form-input-text.search-icon{
    padding-left: 40px;
}

.input-field{
    position: relative;
    border: 1px solid var(--color-gray-1);
    border-radius: 5px;
}



.input-field i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

/* ScrollBar */

::-webkit-scrollbar {width: 9px;}
::-webkit-scrollbar-track {background: #f1f1f1;}
::-webkit-scrollbar-thumb {
    background: #cacaca; border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {background: #999999;}

/* ---PAGE CUSTOM--- */

main{
    position: relative;
}

header{
    position: fixed;
    height: 150px;
    width: 100%;
    background-color: var(--color-green);
    z-index: -1;
}

#app{
    padding-top: 5vh;
}

.window{
    max-width: 1170px;
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.09);
    height: 90vh;
    border: 1px solid var(--color-gray-text);
    margin: auto;
    z-index: 995;
}


/* Toolbar */

.toolbar{
    height: 60px;
    background-color: var(--color-gray-2);
}

.toolbar-separator{
    display: inline-block;
    height: 20px;
    width: 1px;
    margin: 0px 15px;
    background-color: var(--color-darkgray);
}

.img-wrap{
    height: 100%;
    vertical-align: middle;
}

.rounded-img{
    height: 100%;
    border-radius: 50%;
}

.rounded-icon{
    background-color: oldlace;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 1.4rem;
}

.text-bold{
    font-weight: bold;
}

.text-small{
    font-size: .8rem;
}

.text-xsmall{
    font-size: .7rem;
}

/* Notification */

.notification{
    height: 80px;
    background-color: var(--color-azure);
}

.notification i{
    color: var(--color-azure);
    font-size: 2rem;
}

/* Search Bar */

.searchbar{
    background-color: var(--color-gray-4);
}

/* Chatlist */

.chatlist{
    height: calc(100% - 180px);
    position: relative;
    background-color: white;
}

.chatlist-wrap{
    overflow-y:scroll;
    height: 100%;
}

.chatlist ul{list-style-type: none;}
.chatlist .chat-item{
    position: relative;
    height: 65px;
    padding: 10px;
    transition: all .1s ease;
    animation: rowSlideDown .1s ease;
}

.chatlist .chat-item:hover{
    cursor: pointer;
    background-color: var(--color-gray-2);
}

.online-dot{
    position: absolute;
    left: 45px;
    bottom: 10px;
    width: 10px;
    height: 10px;
    z-index: 999;
    border-radius: 50%;
}

.online-dot.online{
    background-color: var(--color-green);
}

.online-dot.offline{
    background-color: var(--color-darkgray);
}


.user-online{
    position: absolute;
    right: 15px;
    top: 8px;
    color: var(--color-green);
    background-color: #beece8;
    padding: 2px 5px;
    border-radius: 10px;
    animation: msgSlideLeft .3s ease;
}

.user-lastaccess{
    animation: msgSlideRight .3s ease;
}

.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}



/* Messages */

.messages{
    position: relative;
    background-image: url(../img/mine.jpg);
    height: calc(100% - 120px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.messages ul{
    list-style-type: none;
}


.msg.received .content{
    background-color: white;
    border: 1px solid var(--color-bodyBg);
    animation: msgSlideRight .2s ease;
}

.msg.sent{
    text-align: right;
}

.msg.sent .content{
    background-color: var(--color-lightgreen);
    border: 1px solid var(--color-lightgreen-contrast);
    animation: msgSlideLeft .2s ease;
}

.msg .content{
    position: relative;
    display: inline-block;
    text-align: left;
    padding: 10px;
    padding-bottom: 30px;
    min-height: 60px;
    min-width: 200px;
    max-width: 600px;
    word-wrap: break-word;
    border-radius: 15px;
    transition: all .1s ease;
}

.msg .content .timestamp{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.msg .content:hover{
    cursor: pointer;
    padding-right: 40px;
}

.msg .content:hover{
    cursor: pointer;
}

.msg .content .btn-drop{
    display: none;
    position: absolute;
    right: 15px;
    top: 10px;
    border: none;
    background-color: transparent;

}

.msg .content:hover .btn-drop{
    display: inline-block;
    cursor: pointer;
}


.msg-icon{
    padding: 0px 3px;
}

.msg-icon.read{
    color: var(--color-azure);
}

.msg-icon.read::after{
    font-family:"Ionicons";
    content: '\f121';
    position: relative;
    left: -6px;
}

.is-writing{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    text-align: center;
    background-color: rgba(0,0,0,0.60);
    color: white;
    font-size: .8rem;
    padding: 3px 20px;
}

.anim-dot{
    animation: dotBounce .5s infinite;
    width: 2px;
    height: 2px;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
}

.anim-dot.dot-1{
    animation-delay: .5s;
    margin-right: 3px;
}

.anim-dot.dot-2{
    animation-delay: .10s;
    margin-right: 3px;
}

.anim-dot.dot-3{
    animation-delay: .15s;
}

.anim-dot.dot-big{
    width: 8px;
    height: 8px;
}


.voice-recorder-badge{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    text-align: center;
    background-color: rgba(0,0,0,0.60);
    color: white;
    font-size: .8rem;
    padding: 3px 20px;
    animation: badgeIn .3s ease;
}

.voice-recorder-badge i{
 font-size: 1.8rem;
}

.bottom-bar{
    height: 60px;
    background-color: var(--color-gray-3);
}


.dropdown-menu{
    position: absolute;
    left: 0;
    top: 35px;
    width: 180px;
    list-style: none;
    text-align: left;
    border-radius: 10px;
    background-color: white;
    border: 1px solid var(--color-gray-1);
    box-shadow: 0px 12px 28px -2px rgba(0,0,0,0.20);
    z-index: 999;
}

.dropdown-menu.right{
    left: auto;
    right: 0;
}


.dropdown:hover .dropdown-menu{
    display: inline-block;
    animation: dropdown .1s ease;
}


.dropdown-menu li{
    padding: 8px 15px;
    transition: all .2s ease;
}

.dropdown .dropdown-menu li:first-child{
    border-radius: 10px 10px 0px 0px;
}

.dropdown-menu li:last-child{
    border-radius: 0px 0px 10px 10px;
}

.dropdown-menu li:hover{
    background-color: var(--color-gray-3);
    cursor: pointer;
}

.dropdown-menu li a{
    text-decoration: none;
    color: black;
}

/* Animations */
@keyframes dropdown {
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes dotBounce {
    50%{
        transform: translateY(-5px);
    }

    100%{
        transform: translateY(0);
    }
}

@keyframes msgSlideRight {
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes msgSlideLeft {
    0%{
        opacity: 0;
        transform: translateX(30px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes rowSlideDown {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes badgeIn {
    0%{
        opacity: 0;
        transform: scale(1.1);
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
}


/* Breakpoints */

@media screen and (min-width: 768px){
    .col-sm-12{width: 100%;}
    .col-sm-11{width: calc((100% / 12) * 11);}
    .col-sm-10{width: calc((100% / 12) * 10);}
    .col-sm-9{width: calc((100% / 12) * 9);}
    .col-sm-8{width: calc((100% / 12) * 8);}
    .col-sm-7{width: calc((100% / 12) * 7);}
    .col-sm-6{width: 50%;}
    .col-sm-5{width: calc((100% / 12) * 5);}
    .col-sm-4{width: calc((100% / 12) * 4);}
    .col-sm-3{width: calc((100% / 12) * 3);}
    .col-sm-2{width: calc((100% / 12) * 2);}
    .col-sm-1{width: calc(100% / 12);}
}

@media screen and (min-width: 992px){
    .col-md-12{width: 100%;}
    .col-md-11{width: calc((100% / 12) * 11);}
    .col-md-10{width: calc((100% / 12) * 10);}
    .col-md-9{width: calc((100% / 12) * 9);}
    .col-md-8{width: calc((100% / 12) * 8);}
    .col-md-7{width: calc((100% / 12) * 7);}
    .col-md-6{width: 50%;}
    .col-md-5{width: calc((100% / 12) * 5);}
    .col-md-4{width: calc((100% / 12) * 4);}
    .col-md-3{width: calc((100% / 12) * 3);}
    .col-md-2{width: calc((100% / 12) * 2);}
    .col-md-1{width: calc(100% / 12);}
}

@media screen and (min-width: 1200px){
    .col-lg-12{width: 100%;}
    .col-lg-11{width: calc((100% / 12) * 11);}
    .col-lg-10{width: calc((100% / 12) * 10);}
    .col-lg-9{width: calc((100% / 12) * 9);}
    .col-lg-8{width: calc((100% / 12) * 8);}
    .col-lg-7{width: calc((100% / 12) * 7);}
    .col-lg-6{width: 50%;}
    .col-lg-5{width: calc((100% / 12) * 5);}
    .col-lg-4{width: calc((100% / 12) * 4);}
    .col-lg-3{width: calc((100% / 12) * 3);}
    .col-lg-2{width: calc((100% / 12) * 2);}
    .col-lg-1{width: calc(100% / 12);}
}

